# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.local
.env.*.local

# Build
/dist
/build
dist-ssr

# Firebase sensitive
firebase-applet-config.json
firebase-blueprint.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
